body {
	background-color: black;
	/*animation: entry 1s 1;*/
	
}
@keyframes animation_bottom_to_up {
	0% {
		
		opacity: 0;
	}
	100%{
		transform: translateY(0px);
		opacity: 1;
	}
}
.nav{
	background-color: black;
	text-align: center;
	top: 0;
    width: 100%;
    margin: 38;
    padding: 0;
    overflow: hidden;
    background-color: #222;
    position: fixed;
    margin-left: -8px;
    /*transition-duration: 1s;*/
    
}
.welcome_pane_container{
	background-color: black;
	padding-top: 280px;
	/*padding-bottom: 173px;*/
	height: 430px;
	margin-left: -10px;
	margin-right:-10px;
	color: white;
	font-size: 90;
	font-family: Consolas, monaco, monospace;
	text-align: center;
    
}
.welcome_pane_bottom{
	
	font-size: 25; 
	padding: 120px 0 0 370px;
	/*animation: animation_bottom_to_up 5s 1;
	transform: translateY(30px);*/
   
}
.profile_container{
	background-color:#EBEBEB;
	/*padding: 400px -8px 200px -8px;*/
	height: 710px;
	margin-left: -10px;
	margin-right: -10px;
	
}
.profile_text{
	font-size: 20; 
	font-family: Consolas, monaco, monospace;
	text-align: center;
	letter-spacing: 0px;
	padding: 10px 50px 20px 50px;
	word-spacing: 0px;
	/*animation: animation_bottom_to_up 5s 1;
	transform: translateY(30px);*/
}
.project_container{
	background-color: black;
	/*padding: 1000px -8px 650px -8px;*/
	height: 710px;
	margin-left: -10px;
	margin-right: -10px;
	color: white;
}
.resume_container{
	background-color: #EBEBEB;
	/*padding: 1000px -8px 650px -8px;*/
	
	margin-left: -10px;
	margin-right: -10px;
	color: black;
	text-align: center;
	font-size: 45; 
	padding-top: 40px;
	font-family: Consolas, monaco, monospace;
	background-image: url(whiteBackground.jpg);
	/* Set a specific height */
    height: 300px; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.contact_container{
	background-color: black;
	/*padding: 1000px -8px 650px -8px;*/
	height: 190px;
	margin-left: -10px;
	margin-right: -10px;
	color: white;
}
img {
	vertical-align: middle;
	width: 100%;
	margin-right: -30px;
	margin-left: -20px;
	margin-top: -20px;
}
.img-circle {
	border-radius: 70%;
	width: 250px;
	height: 200px;
	margin-top: 70px;
}
.img-background{
	background-image: url(whiteBackground.jpg);
}
form{
	width: 100px;
}
ul {
    list-style-type: none;
    display: inline-block;
    padding-right: 65px;
}
li {
    float: left;
}
li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 0px 20px;
    text-decoration: none;
    font-size: 20;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  
}
li a:hover {
    opacity: 0.9;
    background-color: black;
}
li a.active {
	
    border:2px #FFF solid;
    
}
.button {
  padding: 10px 25px;
  font-size: 28;
  width: 200px;
  height: 50px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #000000;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
.button:hover {
	background-color: #323232
}
.button:active {
  background-color: #4c4c4c;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
